// Fonts
@import url('https://fonts.lug.ustc.edu.cn/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import "../theme/lib/font-awesome/css/font-awesome.min.css";
@import "../theme/css/elements.theme.css";
@import "../theme/components/elements.components.css";
@import 'variables';
@import "global";

.header {
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.sidebar {
    z-index: 11;
    font-size: 1.14rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 90px;
    height: calc(100vh);
    background-repeat: no-repeat;
    background-position-x: center;
    //background: transparent linear-gradient(160deg, $primary 80%, #1a78cf 99%) repeat scroll 0% 0%;
    background-image: -webkit-linear-gradient(left, #00218d 0%, #0039bd 100%) !important;
    z-index: 10;
    border-width: 0px;
    box-shadow: 0 5px 30px -5px rgba(37,45,51, .5);
    //color: $white !important;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }

    > .navbar-brand {
        > .e-logo {
            > .e-logo-text {
                font-size: 1.10rem !important;
                font-weight: 400 !important;
            }
            color: white !important;
            &:hover {
                text-decoration: none;
            }
        }
    }

    > .e-navlist {
        ul li {
            overflow: hidden;
            .nav-link {
                color: #e0e0e0;
                &:hover {
                    //color: $white;
                }
            }
        }
        > ul .sidebar-active {
            //color: $white !important;
            background-image: url("../theme/images/active-bg.svg");
            background-repeat: no-repeat;
            background-position-x: 85px;
            background-position-y: center;
            background-size: 13%;
        }
    }
}
.sidebar-avatar {
    width: 36px;
    height: 36px;
    margin-top: -5px;
}

main {
    z-index: 9;
    margin-left: 89px;
    padding-top: 80px !important;
}

.card-list-item {
    overflow: hidden;
    > .status {
        text-align: center;
        position: absolute;
        right: -35px;
        top: -11px;
        width: 80px;
        height: 35px;
        padding-top: 12px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

.user-list-avatar-box {
    min-width: 50px;
    max-width: 50px;
    > a {
        > .user-list-avatar {
            width: 42px;
            height: 42px;
        }
    }
}

.cover-box {
    background-size: 95%;
    background-position: center;
    background-repeat: no-repeat;
}
.display-5 {
    font-size: 20px !important;
}
.browser {
    position: fixed;
    bottom: 5px;
    right: 10px;
    z-index: 9999999;
    display: none;
}

// front services
.banner-box {
    border-radius: 3px !important;
    overflow: hidden;
    height: 110px;
}
.carousel-indicators {
    bottom: -7px;
    li {
        width: 10px;
        height: 4px;
        border-radius: 5px !important;
        overflow: hidden;
    }
}
.service-avatar {
    width: 45px;
    height: 45px;
}
.gray-line {
    width: 110%;
    height: 8px;
    background-color: #f7f7f7;
    display: block;
    //border: 1px solid red;
}
.title {
    display: inline-block;
    font-weight: bold;
    font-size: 1.30rem;
}
