// Fonts
@import url('https://fonts.lug.ustc.edu.cn/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import "../../theme/lib/font-awesome/css/font-awesome.min.css";
@import "../../theme/css/elements.theme.css";
@import "../../theme/components/elements.components.css";
// Body
$body-bg: #ffffff;


// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$primary: #1148d3;
$black: #000000;
$white: #ffffff;
$gray: #ededed;

* {
    font-size: 1px;
}

body::-webkit-scrollbar {
    display: none !important;
}
body {
    background-color: rgba(232, 233, 232, 0.56);
    /*background-image: linear-gradient(180deg,#ec454f, rgba(255, 74, 137, 0.25));*/
    /*background-repeat: no-repeat;*/
    /*background-image: -webkit-gradient(linear,left top,left bottom,from(#f44881),to(#ec454f));*/
}

.carousel-indicators .active {
    background-color: #ff501f;
    border-radius: 10px;
    overflow: hidden;
}
.carousel-indicators {
    bottom: 5px;
}
.carousel-indicators li {
    height: 0.1rem;
}

.banner-item {
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
}

.shadow {
    box-shadow: 0px 0px 6px 0px rgba(255,255,250,0.49);
    -webkit-box-shadow: 0px 0px 6px 0px rgba(255,255,250,0.49);
    -moz-box-shadow: 0px 0px 6px 0px rgba(255,255,250,0.49);
}
